[submodule "Unity/AGA/Assets/Libs/gamelib"]
	path = Unity/AGA/Assets/Libs/gamelib
	url = https://github.com/cholushkin/gamelib.git
[submodule "Unity/AGA/Assets/Libs/versionhistory"]
	path = Unity/AGA/Assets/Libs/versionhistory
	url = https://github.com/cholushkin/VersionHistory.git
[submodule "Unity/AGA/Assets/Libs/towergenerator"]
	path = Unity/AGA/Assets/Libs/towergenerator
	url = https://github.com/cholushkin/towergenerator.git
[submodule "Unity/AGA/Assets/Libs/xlua"]
	path = Unity/AGA/Assets/Libs/xlua
	url = https://github.com/cholushkin/xLua.git
	branch = unity
[submodule "Unity/AGA/Assets/Libs/uimgui"]
	path = Unity/AGA/Assets/Libs/uimgui
	url = https://github.com/cholushkin/uimgui
[submodule "Unity/AGA/Assets/Libs/qonsole"]
	path = Unity/AGA/Assets/Libs/qonsole
	url = https://github.com/cholushkin/qonsole.git
